.custom-search .ant-input-affix-wrapper {
  background-color: var(--background-secondary) !important;
  border: 1px solid #333 !important;
}

/* INPUT BÊN TRONG */
.custom-search .ant-input-affix-wrapper input.ant-input {
  background-color: var(--background-secondary) !important;
  color: white !important;           /* Màu chữ */
}

/* Placeholder */
.custom-search .ant-input-affix-wrapper input.ant-input::placeholder {
  color: #9ca3af !important;
}

/* Hover */
.custom-search .ant-input-affix-wrapper:hover {
  border-color: var(--color-green) !important;
}

/* Focus */
.custom-search .ant-input-affix-wrapper-focused {
  border-color: var(--color-green) !important;
  box-shadow: 0 0 0 2px #4ade8040 !important;
}