.custom-audio-player {
  background-color: transparent;
  box-shadow: none;
}

.custom-audio-player .rhap_container {
  background-color: transparent;
}

.custom-audio-player .rhap_progress-bar {
  background-color: rgba(255, 255, 255, 0.2);
}

.custom-audio-player .rhap_progress-indicator {
  background-color: var(--color-green); 
}

.custom-audio-player .rhap_time,
.custom-audio-player .rhap_button-clear {
  color: white;
}

.custom-audio-player .rhap_volume-bar {
  background-color: rgba(255, 255, 255, 0.2);
}

.custom-audio-player .rhap_volume-indicator {
  background-color: var(--color-green);
}

.custom-audio-player {
  background: transparent;
  box-shadow: none;
}

.custom-audio-player .rhap_container {
  padding: 0;
}

.custom-audio-player .rhap_progress-section {
  margin: 0 16px;
}