@import "tailwindcss/preflight";
@import "tailwindcss/theme";
@import "tailwindcss/utilities";
@import "tailwindcss";
@source "./components/**/*.{js,ts,jsx,tsx}";

@theme {
  --background-secondary: #121212;
  --background: black;
  --foreground: #171717;
  --color-green: #25A26A;
  --color-text-primary: #FFFFFF;
  --color-text-secondary: #CCCCCC;
  --font-inter: 'Inter', sans-serif;
  --font-opensans: 'Open Sans', sans-serif;
  --background-tertiary: #1F1F1F;
  --background-gradient: linear-gradient(180deg, #1e1e1e 0%, #3a3a3a 100%);
}

:root {
  --background-secondary: #121212;
  --background-tertiary: #1F1F1F;
  --background: black;
  --foreground: #171717;
  --color-green: #25A26A;
  --color-text-primary: #FFFFFF;
  --color-text-secondary: #CCCCCC;
  --font-inter: 'Inter', sans-serif;
  --font-opensans: 'Open Sans', sans-serif;
  --background-gradient: linear-gradient(180deg,
      /* Góc 180 độ: Chuyển màu từ Trên xuống Dưới */
      #113320 0%,
      /* Màu xanh lá đậm (TOP) */
      #268d7c 10%,
      /* Màu xanh ngọc (GIỮA) */
      black 60%
      /* Màu đen đậm (BOTTOM) */
    );
}

.bg-custom-gradient {
  background: var(--background-gradient);
}

body {
  background: var(--background);
  color: var(--color-text-primary);
  font-family: var(--font-inter);
  scroll-behavior: smooth;
}

.base-button {
  padding: 5px 15px;
  border-radius: 0.375rem;
  background: var(--color-green);
  color: white;
  transition: 0.2s;
  cursor: pointer;
}

.base-button:hover {
  background: #2ECC71;
  color: #0a0a0a;
  box-shadow: 0 0 12px rgba(46, 204, 113, 0.4);
}

.base-button:active {
  transform: scale(0.95);
}

.scrollbar-hidden {
  scrollbar-width: none;
}

.spin-slow {
  animation: spin 8s linear infinite;
}






/* .dark-modal .ant-modal-content {
  background: var(--background-secondary) !important;
  color: white !important;
  border: 1px solid #1e293b;
}

.dark-modal .ant-modal-header {
  background: var(--background-secondary) !important;
  border-bottom: 1px solid #1e293b;
}

.dark-modal .ant-modal-title {
  color: #fff !important;
}

.dark-modal .ant-form-item-label > label {
  color: #cbd5e1 !important;
}

.dark-modal .ant-input,
.dark-modal .ant-picker,
.dark-modal .ant-radio-wrapper {
  background: #1e293b !important;
  color: white !important;
} */

